body {
  background-color: #171717;
}

h1 {
  color: white;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.popover-body {
  background-color: black;
  border: 1px solid white;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container .input-group span {
  diplay: inline-block;
  padding: 0px;
  margin: 5px;
  border-radius: 0px;
}

.flex-container .input-group span i {
  border-radius: 3px;
}

.card {
  background-color: #242424;
}

.form-control[type=text] {
  background-color: #242424;
  color: white;
}
