{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.js"></script>
  </head>

  <body>
    <div id="content" class="d-flex justify-content-center">
      <div class="container text-dark mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-7">
            <form action="{% url 'save_profile' %}" method="post">
              {% csrf_token %}
              <input type="text" name="profile_name" class="form-control input-lg" placeholder="Profile Name" value="{{ profile.name }}"></input>
              <div class="flex-container">
                {% for i, hex in profile.rgb_values.items %}
                  <div id="led{{ i }}" class="input-group" title="Using input value">
                      <input type="text" name="led{{ i }}" class="form-control input-lg" hidden>
                      <span class="input-group-append">
                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                      </span>
                  </div>
                  <script>
                    $(function () {
                      $('#led{{ i }}').colorpicker({
                        format: "hex",
                        color: "{{ hex }}",
                      });
                    });
                  </script>
                {% endfor %}
              </div><br>
              <input type="submit" class="btn btn-success" value="Save"></input>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
