{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/css/bootstrap-colorpicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'all.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.js"></script>
  </head>

  <body>
    <div id="content" class="d-flex justify-content-center">
      <div class="container text-dark mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-7">
            <div class="flex-container">
              {% if profile.active %}
                <div class="flex-container">
                  <h1>{{ profile.name }}</h1>
                </div>
                <div>
                  <button class="btn btn-success" onclick="location.href='{% url 'activate_profile' profile.id %}'" disabled>Activate</button>
                </div>
              {% else %}
                <h1>{{ profile.name }}</a></h1>
                <div>
                  <button class="btn btn-success" onclick="location.href='{% url 'activate_profile' profile.id %}'">Activate</button>
                </div>
              {% endif %}
            </div>
            <form action="{% url 'update_profile' profile.id %}" method="post">
              {% csrf_token %}
              <div class="flex-container">
                <div>
                  <input type="text" name="profile_name" class="form-control input-lg" placeholder="Profile Name" value="{{ profile.name }}"></input>
                </div>
                <div>
                  <input type="number" id="num_leds" name="num_leds" class="form-control input-lg" min="0" placeholder="Number of LEDs" value="{{ profile.leds }}" required></input>
                </div>
              </div>
              <p id="test-text">Nothing</p>
              <div class="flex-container">
                <div class="w-25">
                  <select name="profile_type" id="profile_type" class="form-control">
                    <option value="default">Default</option>
                    <option value="custom">Custom</option>
                  </select>
                </div>
                <div class="w-25">
                  <select name="default_type" id="default_type" class="form-control">
                    <option value="color">Color</option>
                    <option value="gradient">Gradient</option>
                    <option value="rainbow">Rainbow</option>
                  </select>
                </div>
              </div><br>
              <div id="leds">

                <div class="flex-container" id="flex0">
                  {% for i, hex in profile.rgb_values.items %}
                    <div id="led{{ i }}" class="input-group" title="Using input value">
                        <input type="text" id="input{{ i }}" name="led{{ i }}" class="form-control input-lg" value="#{{ hex }}" hidden>
                        <span class="input-group-append">
                          <span class="input-group-text colorpicker-input-addon"><i></i></span>
                        </span>
                    </div>
                    <script>
                      $(function () {
                        $('#led{{ i }}').colorpicker({
                          format: "hex",
                          color: "#{{ hex }}",
                        });
                      });
                    </script>
                  {% endfor %}
                </div>

                <!--
                <div class="d-flex justify-content-center">
                  <div class="flex-container single-color">
                    <div id="ledff" class="input-group" title="Using input value">
                        <input type="text" id="inputff" name="ledff" class="form-control input-lg" value="#FF0000" hidden>
                        <span class="input-group-append">
                          <span class="input-group-text colorpicker-input-addon"><i></i></span>
                        </span>
                    </div>
                    <script>
                      $(function () {
                        $('#ledff').colorpicker({
                          format: "hex",
                          color: "#FF0000",
                        });
                      });
                    </script>
                  </div>
                </div>
              -->
              </div><br>
              <input type="submit" class="btn btn-success" value="Save"></input>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  {{ profile.leds|json_script:"leds" }}
  <script type="text/javascript" src="{% static 'profile_led_editor.js' %}"></script>
</html>
